.code-list {
  display: grid;
  grid-template-columns: 33.333% 33.333% 33.333%;
  justify-content: center;
  width: 100%;
  height: 4%;
}
.menu-size {
  margin: 0;
  padding: 0;
}
.code-bt {
  display: inline-block;
  width: 100px;
  border-bottom: solid 2px;
  cursor: pointer;
  margin: 0;
  padding: 0px;
}
.code-html {
  border-bottom-color: #f75639;
  background-color: #f75639;
  border-radius: 10px 10px 10px;
}
.code-js {
  border-bottom: none;
}
.code-css {
  border-bottom-color: #5b88db;
  background-color: #5b88db;
  border-radius: 10px 10px 10px;
}
.code-hidden {
  display: none;
}
.code-navigation {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.code-navigation > ul {
  visibility: hidden;
  position: relative;
  background-color: silver;
  list-style: none;
  font-size: 12pt;
  margin: 0px;
  padding: 0;
}
.code-navigation:hover > ul {
  visibility: visible;
  display: block;
  z-index: 1;
}
.code-navigation > ul > li:hover {
  transition: ease all 0.4s;
  background-color: #e0c31c;
}
.font-border {
  border-bottom: 2px solid;
  border-bottom-color: #e0c31c;
  background-color: #e0c31c;
  border-radius: 10px 10px 10px;
}
